@model RapNewsManager.Models.User

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="w3-container w3-content" style="max-width:800px;margin-top:80px">

        <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                <img src="~/Images/rap_news_main.png" class="w3-image w3-round" style="width:100%;max-width:400px" />

                <form class="w3-container">
                    <p>
                        <label class="w3-text"><b>Email</b></label>
                        <input class="w3-input" type="email" name="_Email">
                    </p>

                    <p>
                        <label class="w3-text"><b>Password</b></label>
                        <input class="w3-input" type="password" name="_Password">
                    </p>
                </form>
                <div class="w3-center">
                    <button class="w3-btn w3-blue w3-round w3-block" value="Login"><b>Login</b></button>
                </div>

            </div>
        </div>
    </div>




    @*<div class="parent">
            <div class="block">

                <h1 style="text-align:center">Rap News</h1>

                <div class="center">
                    <img src="~/Images/rap_news_main.png" />

                    <table class="center">
                        <tr>
                            <td>
                                <label for="Email">Email address</label>
                                <input type="email" class="form-control" name="_Email" id="Email" placeholder="Email">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" name="_Password" id="Password" placeholder="Password">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="RememberMe">Remember me</label>
                                <input type="checkbox" class="form-control" name="_RememberMe" id="RememberMe" value="true">
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <input type="submit" class="btn btn-default" value="Login">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>*@

}
